In [1]:
pwd

'C:\\Users\\Pragati'

In [2]:
import os
os.chdir('D:\\ml-backend1')

In [3]:
pwd

'D:\\ml-backend1'

In [4]:
import warnings
warnings.filterwarnings("ignore")

import pandas as pd
import numpy as np
pd.set_option('display.max_columns', None)
from sklearn.metrics import classification_report
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.linear_model import LogisticRegression
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split, cross_val_score, GridSearchCV, StratifiedKFold

In [5]:
df = pd.read_csv('heart.csv')

In [6]:
df.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,52,1,0,125,212,0,1,168,0,1.0,2,2,3,0
1,53,1,0,140,203,1,0,155,1,3.1,0,0,3,0
2,70,1,0,145,174,0,1,125,1,2.6,0,0,3,0
3,61,1,0,148,203,0,1,161,0,0.0,2,1,3,0
4,62,0,0,138,294,1,1,106,0,1.9,1,3,2,0

In [7]:
df.shape

(1025, 14)

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1025 entries, 0 to 1024
Data columns (total 14 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       1025 non-null   int64
 1   sex       1025 non-null   int64
 2   cp        1025 non-null   int64
 3   trestbps  1025 non-null   int64
 4   chol      1025 non-null   int64
 5   fbs       1025 non-null   int64
 6   restecg   1025 non-null   int64
 7   thalach   1025 non-null   int64
 8   exang     1025 non-null   int64
 9   oldpeak   1025 non-null   float64
 10  slope     1025 non-null   int64
 11  ca        1025 non-null   int64
 12  thal      1025 non-null   int64
 13  target    1025 non-null   int64
dtypes: float64(1), int64(13)
memory usage: 112.2 KB

In [9]:
df.isnull().sum() / len(df) * 100

age         0.0
sex         0.0
cp          0.0
trestbps    0.0
chol        0.0
fbs         0.0
restecg     0.0
thalach     0.0
exang       0.0
oldpeak     0.0
slope       0.0
ca          0.0
thal        0.0
target      0.0
dtype: float64

In [10]:
df.duplicated().sum()

723

In [11]:
df = df.drop_duplicates(keep = "first")

In [12]:
df.duplicated().sum()

0

In [13]:
df.duplicated().sum()

0

In [14]:
df.nunique()

age          41
sex           2
cp            4
trestbps     49
chol        152
fbs           2
restecg       3
thalach      91
exang         2
oldpeak      40
slope         3
ca            5
thal          4
target        2
dtype: int64

In [17]:
df.shape

(302, 14)

In [18]:
features = ['age','sex','cp','trestbps','chol','fbs','restecg','thalach','exang','oldpeak','slope','ca','thal']
target = 'target'

In [19]:
X = df[features]
y = df[target]
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [20]:
log = LogisticRegression()
cv_v = cross_val_score(log, X_train, y_train, cv=4)
print(cv_v)
print(cv_v.std())
print(cv_v.mean())

[0.85245902 0.86666667 0.78333333 0.83333333]
0.03152535159685399
0.833948087431694

In [21]:
log.fit(X_train,y_train)

LogisticRegression()

In [22]:
y_pred = log.predict(X_test)
print('X_test 111111111: ')
print (X_test)
print('y_pred')
print(y_pred)
print('clr')
print(classification_report(y_test,y_pred))

X_test 111111111:
     age  sex  cp  trestbps  chol  fbs  restecg  thalach  exang  oldpeak  \
245   44    1   1       130   219    0        0      188      0      0.0
349   62    0   2       130   263    0        1       97      0      1.2
135   58    0   0       170   225    1        0      146      1      2.8
389   63    1   3       145   233    1        0      150      0      2.3
66    53    1   2       130   197    1        0      152      0      1.2
..   ...  ...  ..       ...   ...  ...      ...      ...    ...      ...
402   70    1   1       156   245    0        0      143      0      0.0
123   65    0   2       140   417    1        0      157      0      0.8
739   52    1   0       128   255    0        1      161      1      0.0
274   66    1   0       160   228    0        0      138      0      2.3
256   35    0   0       138   183    0        1      182      0      1.4

     slope  ca  thal
245      2   0     2
349      1   1     3
135      1   2     1
389      0   0     1
66       0   0     2
..     ...  ..   ...
402      2   0     2
123      2   1     2
739      2   1     3
274      2   0     1
256      2   0     2

[61 rows x 13 columns]
y_pred
[1 1 0 1 1 0 0 1 1 0 1 0 1 1 1 0 0 1 0 1 1 1 0 1 0 0 1 1 0 1 1 1 1 1 1 1 1
 1 0 0 0 0 1 1 0 0 1 0 1 1 1 0 0 1 1 0 1 1 0 0 1]
clr
              precision    recall  f1-score   support

           0       0.92      0.69      0.79        32
           1       0.73      0.93      0.82        29

    accuracy                           0.80        61
   macro avg       0.82      0.81      0.80        61
weighted avg       0.83      0.80      0.80        61

In [23]:
import pickle
pickle.dump(log,open("heart_model.pkl","wb"))